.editor-container {
    width: 100%;
}
.editor-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 16px 0 64px 0;
    min-height: 800px;
}
.bf-container {
    width: 874px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 2px 8px rgba(115, 115, 115, 0.08);
    height: 100%;
}

.bf-content {
    min-height: 600px;
    overflow: auto;
    padding: 20px 60px 90px 60px;
    height: auto;
}
.bf-container .public-DraftEditor-content .braft-code-block-wrapper .braft-code-block {
    max-height: none;
}
.bf-container .DraftEditor-root, .bf-container .public-DraftEditor-content {
    min-height: 600px;
}
.title-box {
    display: flex;
    justify-content: center;
}
.title {
    width: 874px;
    padding: 112px 60px 0 60px;
    font-size: 36px;
    span {
        font-weight: 800;
    }
    textarea {
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        resize: none;
        min-height: 50px;
        line-height: 1.389;
        vertical-align: bottom;
        width: 100%;
    }
}

.operation-box {
    width: 100%;
    position: fixed;
    top: 64px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    z-index: 100;    
    background: #fff;
    padding: 10px;
    .btn {
        margin: 0 20px;
    }
}
.editor-box .bf-controlbar  {
    position: fixed;
    top: 118px;
    left: 256px;
    background: #fcfcfc;
    z-index: 100;
}